/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    width: 100%;
    padding: 20px 0;
    margin: 0;
}

.channel-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.channel {
    margin: 10px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.channel.selected {
    border-radius: 10px;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.channel:hover {
    transform: scale(1.05);
}

.channel img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

#video-container {

    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#video-container.hidden {
    display: none;
}

#video {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

#close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
}