/* Estilo general */
body {
    margin: 0;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    background-color: #141414;
    color: #ffffff;
}

/* Título principal */
h1 {
    text-align: center;
    padding: 20px;
    background-color: #141414;
    margin: 0;
    font-size: 2em;
}

/* Lista de canales */
.channel-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Cada canal */
.channel {
    margin: 10px;
    border: 2px solid #333;
    border-radius: 10px;
    overflow: hidden;
    background-color: #1c1c1c;
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s;
}

.channel img {
    width: 100%;
    display: block;
}

.channel p {
    text-align: center;
    padding: 10px;
    margin: 0;
}

/* Hover en cada canal */
.channel:hover {
    transform: scale(1.05);
}

/* Contenedor del video */
#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#video-container.hidden {
    display: none;
}

/* Botón de cerrar */
#close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
}

/* iframe del video */
#video {
    width: 80%;
    height: 80%;
    border: none;
    border-radius: 10px;
}

/* Agregar estilos para el botón de instalación de la PWA (opcional) */
#install-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    display: none; /* Mostrar solo cuando sea necesario */
}